{%- if with_id -%}
from typing import NewType
from uuid import UUID
{%- endif %}
{% if make_dataclass -%}
from dataclasses import dataclass
{%- endif %}
{% for import_ in add_imports %}
{{ import_ }}
{% endfor %}
{% if with_id -%}
{{component.name}}Id = NewType("{{component.name}}Id", UUID)
{%- endif %}


{% if make_dataclass %}@dataclass(frozen=True, slots=True){% endif %}
class {{name}}:
    {% if with_id %}id: {{ component.name }}Id
    {% endif %}
    {%- for field_name, field_type in fields.items() %}
    {{field_name}}: {{field_type}}
    {%- endfor %}
    {% for line in append %}
    {{line}}
    {% endfor %}
