from dataclasses import dataclass

{% for config in configs %}
@dataclass(frozen=True, slots=True)
class {{config.name}}:
    """
    {{config.simple_name}} config.

    Args:{% for field_name in config.fields.keys() %}
        {{ field_name }}: {% endfor %}

    """
    {% for field_name, field_type in config.fields.items() %}
    {{field_name}}: {{field_type}}{% if field_name in config.defaults %} = {{config.defaults[field_name]}}{% endif %}{% endfor %}

{% endfor %}
@dataclass(frozen=True, slots=True)
class Config:
    """Main config."""
    {% for config in configs %}
    {{config.simple_name|camel_to_snake}}: {{config.name}}{% endfor %}
    is_debug: bool = True
