from dishka import Provider, Scope, provide_all

{% for interactor in ctx["InteractorStore"].interactors -%}
from {{ slug }}.{{ interactor.module_name }} import {{ interactor.name }}
{% endfor %}


class InteractorDIProvider(Provider):
    """Provides interactors."""

    interactors = provide_all(
        {% for interactor in ctx["InteractorStore"].interactors -%}
        {{ interactor.name }},
        {% endfor %}
        scope=Scope.REQUEST
    )
