import uuid
from abc import abstractmethod
from dataclasses import dataclass
from datetime import datetime
from typing import Protocol, cast, final, override

from sqlalchemy import delete, select
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy.exc import IntegrityError

from {{slug}}.application.auth.auth import (
    AuthSession,
    UserCredentialStore,
)
from {{slug}}.application.auth.exceptions import UserAlreadyExists
from {{slug}}.config import SecurityConfig
from {{slug}}.domain.user import User, UserId
from {{slug}}.infrastructure.persistence.models import (
    UserAuthSessionModel,
    UserModel,
)
from {{slug}}.infrastructure.persistence.transactions import SATransactionManager


class PasswordHasher(Protocol):
    """Hash algorithm."""

    @abstractmethod
    def hash(self, password: str) -> str:
        """
        Hash the password.

        Args:
            password: target password

        Returns: hashed password

        """


class PasswordHashComparator(Protocol):
    """Hashed pass comparator."""

    @abstractmethod
    def compare(self, hashed: str, password: str) -> bool:
        """
        Compare hashed and raw password.

        Args:
            hashed: hashed password
            password: raw password

        Returns:
            are same?

        """


class AuthSessionGenerator(Protocol):
    """Auth token generator."""

    @abstractmethod
    def gen_token(self) -> str:
        """
        Generate auth token.

        Returns: secure and random auth token.

        """


@dataclass(slots=True, frozen=True)
@final
class SqlUserCredentialStore(UserCredentialStore):
    """Impl."""

    transaction: SATransactionManager
    password_hasher: PasswordHasher
    password_comparator: PasswordHashComparator
    session_gen: AuthSessionGenerator
    sec_conf: SecurityConfig

    @override
    async def register_user(self, user: User, password: str) -> None:
        query = insert(UserModel).values(
            id=user.id,
            {% for field in ctx["EntityStore"].entities["User"].fields %}{{field}}=user.{{field}},
            {% endfor %}
            hashed_password=self.password_hasher.hash(password),
        )
        try:
            await self.transaction.session.execute(query)
        except IntegrityError as exc:
            raise UserAlreadyExists(user.username) from exc

    @override
    async def login_user(self, username: str, password: str) -> UserId | None:
        query = select(UserModel).where(
            UserModel.username == username
        )
        models = await self.transaction.session.execute(query)
        user = models.scalars().first()
        if not user:
            return None
        return (
            cast(UserId, user.id)
            if self.password_comparator.compare(user.hashed_password, password)
            else None
        )

    @override
    async def authenticate(self, token: AuthSession) -> UserId | None:
        expiry = datetime.now() - self.sec_conf.session_lifetime
        query = select(UserAuthSessionModel).where(
            UserAuthSessionModel.token == token,
            UserAuthSessionModel.issued_at > expiry
        )
        models = await self.transaction.session.execute(query)
        token_model = models.scalars().first()
        if not token_model:
            return None
        return cast(UserId, token_model.user_id)

    @override
    async def generate_session(self, user_id: UserId) -> AuthSession:
        token = self.session_gen.gen_token()
        query = insert(UserAuthSessionModel).values(
            user_id=user_id,
            token=token
        )
        await self.transaction.session.execute(query)
        return AuthSession(token)

    @override
    async def revoke_session(self, session: AuthSession) -> None:
        await self.transaction.execute(
            delete(UserAuthSessionModel).where(
                UserAuthSessionModel.token == session
            )
        )

    @override
    async def revoke_sessions(self, user_id: UserId) -> None:
        query = delete(UserAuthSessionModel).where(
            UserAuthSessionModel.user_id == user_id
        )
        await self.transaction.session.execute(query)
