# Shamelessly copied from
# https://github.com/Sehat1137/litestar-dishka-faststream

from typing import Final
from sqlalchemy.ext.asyncio import (
    AsyncSession,
    async_sessionmaker,
    create_async_engine,
)

from {{slug}}.config import PostgresConfig

_POOL_SIZE: Final = 25
_MAX_POOL_OVERFLOW: Final = 15
_CONNECTION_TIMEOUT_S: Final = 5


def new_session_maker(
    psql_config: PostgresConfig
) -> async_sessionmaker[AsyncSession]:
    """Create sessionmaker with postgres config."""
    database_uri = (
        f"postgresql+psycopg://"
        f"{psql_config.username}"
        f":{psql_config.password}"
        f"@{psql_config.host}"
        f":{psql_config.port}"
        f"/{psql_config.database}"
    )

    engine = create_async_engine(
        database_uri,
        pool_size=_POOL_SIZE,
        max_overflow=_MAX_POOL_OVERFLOW,
        connect_args={
            "connect_timeout": _CONNECTION_TIMEOUT_S,
        },
    )
    return async_sessionmaker(
        engine, class_=AsyncSession, autoflush=False, expire_on_commit=False
    )
