from datetime import datetime
from typing import final

from sqlalchemy import DateTime, ForeignKey, String, Uuid
from sqlalchemy.orm import DeclarativeBase, Mapped, mapped_column, relationship
from sqlalchemy.sql.functions import current_timestamp


class Base(DeclarativeBase):
    """Base model."""


{% for entity in entities %}@final
class {{entity.name}}Model(Base):
    """Table for {{entity.name|camel_to_human}}s."""

    __tablename__ = "{{entity.name|camel_to_snake}}s"

    id: Mapped[str] = mapped_column(
        "id",
        Uuid,
        primary_key=True,
    )
    {% for field, type in entity.fields.items()|no_id %}
    {% if type.endswith("Id") %}{{field}}: Mapped[str] = mapped_column(
        "{{field}}",
        ForeignKey("{{type.removesuffix("Id")|camel_to_snake}}s.uuid")
    )
    {{field.removesuffix("_id")}}: Mapped[{{type.removesuffix("Id")}}Model] = relationship()
    {%else%}{{field}}: Mapped[{{type}}]{% endif %}{% endfor %}
    {% if entity.name == "User" %}hashed_password: Mapped[str]{% endif %}

{% if entity.name == "User" %}
@final
class UserAuthTokenModel(Base):
    """Table for auth tokens."""

    __tablename__ = "tokens"

    user_id: Mapped[str] = mapped_column(
        "user_id",
        ForeignKey("users.uuid")
    )
    user: Mapped[UserModel] = relationship()
    token: Mapped[str] = mapped_column(
        "token",
        String(256),
        primary_key=True
    )
    issued_at: Mapped[datetime] = mapped_column(
        "issued_at",
        DateTime,
        default=datetime.now,
        server_default=current_timestamp()
    )
{% endif %}
{% endfor %}
