from typing import Any, final, override

from sqlalchemy.ext.asyncio import AsyncSession

from {{slug}}.application.persistence.transactions import TransactionManager


@final
class SATransactionManager(TransactionManager):
    """Impl."""

    def __init__(self, session: AsyncSession) -> None:
        """Init the TransactionManager."""
        self.session = session
        self.execute = session.execute
        self.add = session.add

    @override
    async def __aenter__(self) -> None:
        pass  # noqa: WPS420

    @override
    async def __aexit__(
        self,
        exc_type: type[Exception],
        exc_val: Exception | None,
        exc_tb: Any
    ) -> None:
        if exc_val:
            await self.session.rollback()
        else:
            await self.session.commit()
