from abc import abstractmethod
from collections.abc import Sequence
from typing import Protocol

{{ entity.import_line }}
from {{slug}}.application.pagination import PaginationParams

{% if gen_exceptions %}
class {{ entity.name }}NotFound(Exception):
    """Raised when entity with such id is not found."""

    def __init__(self, uid: {{ entity.name }}Id) -> None:
        """Init and set uid."""
        self.id = uid
{% endif %}

class {{ entity.name }}Gateway(Protocol):
    """Access to {{ entity.name|camel_to_snake|replace("_", " ") }}s."""
{% if include.add_get_by_id %}
    @abstractmethod
    async def get_by_id(self, uid: {{ entity.name }}Id) -> {{ entity.name }}:
        """Get by id."""
        raise NotImplementedError
{% endif %}
{% if include.add_delete_by_id %}
    @abstractmethod
    async def delete_by_id(self, uid: {{ entity.name }}Id) -> {{ entity.name }}:
        """Delete by id."""
        raise NotImplementedError
{% endif %}
{% if include.add_save %}
    @abstractmethod
    async def save(self, entity: {{ entity.name }}) -> None:
        """Save entity."""
        raise NotImplementedError
{% endif %}
{% for method in include.get("add_get_paginated_filtered", []) %}
    @abstractmethod
    async def {{ method.name }}(self, {{ method.args }}) -> Sequence[{{ entity.name }}]:
        """Get filtered and paginated."""
        raise NotImplementedError
{% endfor %}
{% for method in include.get("add_get_filtered", []) %}
    @abstractmethod
    async def {{ method.name }}(self, {{ method.args }}) -> Sequence[{{ entity.name }}]:
        """Get filtered."""
        raise NotImplementedError
{% endfor %}
