from abc import abstractmethod
from dataclasses import dataclass
from typing import Protocol, final, override, NewType

from structlog import getLogger

from {{slug}}.application.auth.exceptions import UserNotAuthenticated
{{user_import}}

logger = getLogger(__name__)

AuthSession = NewType("AuthSession", str)


class UserIdProvider(Protocol):
    """Provides user identity."""

    @abstractmethod
    async def require_user(self) -> {{user_class}}Id:
        """
        Try to authenticate user and return it.

        Returns: authenticated user id

        Raises:
            UserNotAuthenticated: if user is not authenticated

        """
        raise NotImplementedError


class UserCredentialStore(Protocol):
    """Manage user authentication and credentials."""

    @abstractmethod
    async def register_user(self, user: {{user_class}}, password: str) -> None:
        """
        Register a user and assign password.

        Args:
            user: target user
            password: UNHASHED password

        Raises:
            UserAlreadyExists: if attempted username already exists

        """
        raise NotImplementedError

    @abstractmethod
    async def login_user(self, username: str, password: str) -> {{user_class}}Id | None:
        """
        Check that inputted password is valid.

        Args:
            username: target username
            password: UNHASHED password

        Returns:
            id of logged user or None if credentials are incorrect

        """
        raise NotImplementedError

    @abstractmethod
    async def authenticate(self, token: AuthSession) -> {{user_class}}Id | None:
        """
        Authenticate some user by token.

        Args:
            user_id: target user
            token: its access token

        Returns:
            whether the token in valid

        """
        raise NotImplementedError

    @abstractmethod
    async def generate_session(self, user_id: {{user_class}}Id) -> AuthSession:
        """
        Generate new auth session for user.

        Args:
            user_id: target user id

        Returns:
            new session id

        """
        raise NotImplementedError

    @abstractmethod
    async def revoke_session(self, session: AuthSession) -> None:
        """
        Revoke only provided session of a user.

        Args:
            session: target user session

        """
        raise NotImplementedError

    @abstractmethod
    async def revoke_sessions(self, user_id: {{user_class}}Id) -> None:
        """
        Revoke all sessions from user.

        Args:
            user_id: target user

        """
        raise NotImplementedError


@dataclass(slots=True, frozen=True)
@final
class SessionCredStoreIdProvider(UserIdProvider):
    """Id provider impl. Needs to have token injected."""

    cred_store: UserCredentialStore
    session: AuthSession

    @override
    async def require_user(self) -> {{user_class}}Id:
        user_id = await self.cred_store.authenticate(self.session)
        if not user_id:
            logger.info("Failed to authenticate user")
            raise UserNotAuthenticated
        return user_id
