import asyncio
import secrets
from typing import Final, override

import argon2
from argon2.exceptions import VerifyMismatchError

from {{slug}}.infrastructure.persistence.auth import (
    AuthSessionGenerator,
    PasswordHashComparator,
    PasswordHasher,
)

_AUTH_TOKEN_BYTE_LEN: Final = 32


class ArgonSecurity(PasswordHasher, PasswordHashComparator, AuthSessionGenerator):
    """Impl."""

    def __init__(self) -> None:
        self.ph = argon2.PasswordHasher()

    @override
    async def hash(self, password: str) -> str:
        return await asyncio.to_thread(self.ph.hash, password)

    @override
    async def compare(self, hashed: str, password: str) -> bool:
        try:
            return await asyncio.to_thread(self.ph.verify, hashed, password)
        except VerifyMismatchError:
            return False

    @override
    def gen_token(self) -> str:
        return secrets.token_hex(_AUTH_TOKEN_BYTE_LEN)
